/* font-family: motiva-sans, sans-serif; */
/* Light Blue #c4e4dd;
Light blue shadow #a8c1bb;
Black #1c3538;
Light Pink #f2ac94;
Pink #e1827c;
Light green #498e84; 
Off white bg #f1f1ef;
*/

html, *, h1, h2, h3, h4 {
    font-family: motiva-sans, sans-serif;
    list-style-type: none;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f1f1ef;

}

/* ---------------- HEADER NAV W HAMBURGER ------------------------------------- */

  .nav-container {
    margin: 0 auto;
    width: 100%
  }
#logo {
  margin-top: 10px;
  margin-left: 15px;
}
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }
  nav ul li {
    position: relative;
  }
  nav ul li a, nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: transparent;
    color: #1c3538;;
    text-decoration: none;
  }
  nav ul li a:hover, nav ul li a:visited:hover {
    color: #e1827c;;
  }
  .nav-mobile {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 70px;
    width: 70px;
  }
  
    .navigation {
      width: 100%;
    }
    
    .nav-mobile {
      display: block;
    }
    nav {
      width: 100%;
      padding: 70px 0 15px;
      text-align: center;
    }
    nav ul {
      display: none;
    }
   
    nav ul li a {
      padding: 15px;
      line-height: 20px;
    }
  
  @media screen and (min-width: 64em) {
    .relative {
        position: relative;
        top: 0;
        left: 0;
    }
    
    .absolute {
        position: absolute;
        top: 0;
        left: 0;
    }
    #logo {
        display: block;
    }
    #logo.relative {
      top: 5px;
      left: 5px;
    }

    nav {
        padding: 0;
        text-align: right;
    }
    .nav-mobile {
        display: none;
      }
      nav.wrapper {
      padding-top: .75em;
  }

    .nav-list {
      display: block !important;
    }

    nav li {
      display: inline-block;
    }
    .navigation {
      height: 70px;
      background: transparent;
      width: 100%;
      z-index: 1;
      margin-bottom: 8rem;
    }
  }

  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
      z-index: 1;
  }
  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 3px;
    height: 5px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
    background-color: #1c3538;;
  }
  #nav-toggle span:before {
    top: -10px;
    background-color: #1c3538;;
  }
  #nav-toggle span:after {
    bottom: -10px;
    background-color: #1c3538;;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
    background-color :#1c3538;;
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
    background-color: #1c3538;;
  }

  /* ---------------- IMAGES AND MEDIA --------------------------------------- */
  #bg-header {
    background-image: url(../img/bg-header.jpg);
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    padding-bottom: 7rem;

}
#contact {
  background-image: url(../img/bg-footer.jpg);
  background-position:center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  
}


footer a {
  color: #1c3538;
  font-size: 1.5em; 
}
footer a:hover {
  color: #e1827c;
}


@media screen and (min-width: 40em) {
#bg-header {
  padding-bottom: 5rem;

}

#about {
  background-image: url(../img/bg-spch-bubble.jpg.jpg);
  background-position:center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

}
  /* ---------------- IMAGE HOVERS ----------------- */

  *, *:before, *:after{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
  }
  
  
  @media screen and (max-width: 640px){
    .container{
      display: block;
      width: 100%;
    }
  }
  
  @media screen and (min-width: 900px){
    .container{
      width: 33.33333%;
    }
  }
  
  
  .content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(28,53,56,0.73);
    position: absolute;
    height:100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: left;
    padding-left: 1.5em;
    padding-right: 1em;
    width: 100%;
    top: 75%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details{
    top: 75%;
    left: 50%;
    opacity: 1;
  }
  
 .content {
   color: #fff;
 }
  
  .fadeIn-left{
    left: 20%;
  }
  

  /* ---------------- TYPOGRAPHY ------------------------------------- */
h3 {
  font-size: 2.15rem;
}
.smaller {
  font-size: auto;
}

@media screen and (min-width: 40em) {
  .smaller {
    font-size: 1.5rem;
  }
  
  }

  /* ---------------- BUTTONS ------------------------------------------------- */
.kent-button {
  display: inline-block;
  background-color: #f2ac94;
  color: #1c3538;
  font-size: .75rem;
  font-family: helvetica;
  padding: .75em 3em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2em;
  border-radius: 2em;
  border-bottom: 0.25em solid #b78074;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  position: relative;
  width: 50%;
  
}

.kent-button:hover {
  background-color: #e1827c;
  border-bottom-width: 0;
  margin-top: 0.25em;
  color: #1c3538; 
}
.kent-button:focus {
  color: #1c3538;
}
#work a {
  color: #fff;
} 
@media screen and (min-width: 40em) {
  .kent-button {
    width: auto;
  }
  }

  /* ---------------- SPACING AND ALIGNMENTS ------------------------------------- */

  .grid-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  @media screen and (min-width: 40em) {
    .kent-button {
      width: auto;
    }

    .grid-container {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    }

  /* ----------------- ASPECT RATIOS ------------------------------------------- */

div[class*="ratio-"] {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.ratio-16x9 {
  padding: 56.25% 0 0 0;
}

.ratio-16x8 {
  padding: 50% 0 0 0;
}

.ratio-16x7 {
  padding: 43.75% 0 0 0;
}

.ratio-16x6 {
  padding: 37.5% 0 0 0;
}

.ratio-16x5 {
  padding: 31.25% 0 0 0;
}

.ratio-16x4 {
  padding: 25% 0 0 0;
}

.ratio-6x5 {
  padding: 83.33% 0 0 0;
}

.ratio-5x4 {
  padding: 80% 0 0 0;
}

.ratio-5x1 {
  padding: 20% 0 0 0;
}

.ratio-4x5 {
  padding: 120% 0 0 0;
}

.ratio-4x7 {
  padding: 160% 0 0 0;
}

.ratio-4x3 {
  padding: 75% 0 0 0;
}

.ratio-1x1 {
  padding: 100% 0 0 0;
}

div[class*="ratio-"] img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}
 /* ----------------- UTILITY CLASSES ------------------------------------------- */
 .img-rounded {
   border-radius: 4px;
 }
