/* font-family: motiva-sans, sans-serif; */
/* Light Blue #c4e4dd;
Light blue shadow #a8c1bb;
Black #1c3538;
Light Pink #f2ac94;
Pink #e1827c;
Light green #498e84; 
Off white bg #f1f1ef;
*/

html, *, h1, h2, h3, h4 {
    font-family: motiva-sans, sans-serif;
    list-style-type: none;
}
html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}
body {
  background-color: #fafafa;

}
p, h1, h2, h3, h4 {
  color: #1c3538;
}

/* ---------------- HEADER NAV W HAMBURGER ------------------------------------- */

  .nav-container {
    margin: 0 auto;
    width: 100%
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 800;
    background: transparent;
    letter-spacing: 1.25px;

  }
  nav ul li {
    position: relative;
  }
  nav ul li a, nav ul li a:visited {
    display: block;
    padding-right: 2rem;
    line-height: 70px;
    background: transparent;
    color: #1c3538;;
    text-decoration: none;

  }
  nav ul li a:hover, nav ul li a:visited:hover {
    color: #e1827c;
  }
  .nav-mobile {
    position: absolute;
    top: 20px;
    right: 16px;
    background: transparent;
    height: 70px;
    width: 70px;
  }
  
    .navigation {
      width: 100%;
    }
    
    .nav-mobile {
      display: block;
    }
    nav {
      width: 100%;
      padding: 0 0 15px;
      text-align: center;
    }
   
    nav ul {
      display: none;
    }
   
    nav ul li a {
      padding: 15px;
      line-height: 20px;
      margin-top: 1.5rem;
      margin-right: 0;
    }
  
  @media screen and (min-width: 64em) {
    .relative {
        position: relative;
        top: 0;
        left: 0;
    }
    
    .absolute {
        position: absolute;
        top: 0;
        left: 0;
    }
    #logo {
        display: block;
    }
    #logo.relative {
      top: 5px;
      left: 5px;
    }

    nav {
        padding: 0;
        text-align: right;
    }
    .nav-mobile {
        display: none;
      }
      nav.wrapper {
      padding-top: .75em;
  }

    .nav-list {
      display: block !important;
    }

    nav li {
      display: inline-block;
    }
    .navigation {
      height: 70px;
      background: transparent;
      width: 100%;
      z-index: 1;
      margin-bottom: 4rem;
    }
    .navigation-project {
      height: 70px;
      background: transparent;
      width: 100%;
      z-index: 1;
      margin-bottom: 3rem;
    }

    nav ul li a {
      line-height: 20px;
    
        line-height: 20px;
        padding-top: 0;
        margin-top: 0;
        margin-right: 0;
        padding-right: 0;
      }
  
  }

  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
      z-index: 1;
  }
  #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 3px;
    height: 5px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
    background-color: #1c3538;;
  }
  #nav-toggle span:before {
    top: -10px;
    background-color: #1c3538;;
  }
  #nav-toggle span:after {
    bottom: -10px;
    background-color: #1c3538;;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
    background-color :#1c3538;;
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
    background-color: #1c3538;;
  }

  /* ---------------- IMAGES AND MEDIA --------------------------------------- */
  #hero {
    background-image: url(../img/bg-header.png);
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    padding-bottom: 7rem;

}
#hero h1 {
  border-right: solid 7px #1c3538;
  white-space: nowrap;
  overflow: hidden;     
  font-size: 5rem;
  color: #1c3538;
  line-height: 1.15;
}

/* Animation */
#hero h1 {
  animation: animated-text 1.25s steps(6,end) 1s 1 normal both,
             animated-cursor 600ms steps(40,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 250px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: #1c3538;;}
  to{border-right-color: transparent;}
}

/* Scroll Bar */


    /* Set Scrollbar Width */
    ::-webkit-scrollbar {
      width: 8px;
  }

  /* Set Scrollbar Track */
  ::-webkit-scrollbar-track {
      -webkit-border-radius: 4px;
      border-radius: 4px;
     
  }   

  /* Set Scrollbar Handle */
  ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 4px;
      border-radius: 4px;
    
      background-color: #f2ac94;;
  } 

@media screen and (min-width: 64em) {
  #about {
    background-image: url(../img/bg-spch-bubble.png);
    background-position:center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    
  }
}



  /* ---------------- IMAGE HOVERS ----------------- */


  
  .content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  
  }
  
  .content .content-overlay {
    background: rgba(28,53,56,0.73);
    position: absolute;
    height:100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: 0.1s;
    -moz-transition: 0.1s;
    -webkit-transition: 0.1s;
  }
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: left;
    padding-left: 1.5em;
    padding-right: 1em;
    width: 100%;
    top: 0%;
    left: 0%;
    opacity: 0;
  
  }
  .content:hover .content-details{
    top: 75%;
    left: 0%;
    opacity: 1;
    color: #fff;
  }
   .content-details p, .content-details h3 {
     color: #fff;
   }
 .content {
   color: #fff;
 }


  /* ---------------- TYPOGRAPHY ------------------------------------- */
#hero h1 {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 1px;
}
  
h1 {
  font-weight: 800;
  font-size: 1.85rem;
}


h2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  font-weight: 900;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.75rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.25px;
  margin-bottom: 0;
}



#previous span, #next span, #top span {
font-size: .8rem;
font-weight: 800;
text-transform: uppercase;
letter-spacing: 1px;
}

#next {
  text-align: right;
}

#contact a {
  color: #1c3538;
}
#contact a:hover {
  color: #e1827c;
}
.social-media {
  font-size: 1.45rem;
}
.copyright {
  font-size: .8rem;
  color: #90a7a1;
}


@media screen and (min-width: 40em) {
  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.45rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.25px;
  }

  .smaller {
    font-size: 1.25rem;
  }
  } 

  /* ---------------- BUTTONS ------------------------------------------------- */
.kent-button {
  display: inline-block;
  background-color: #f2ac94;
  color: #1c3538;
  font-size: .75rem; 
  padding: .75em 4em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2em;
  border-radius: 2em;
  border-bottom: 0.25em solid #b78074;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  position: relative;
  width: 100%;
  margin-left: -.5px
  
}

.kent-button:hover {
  background-color: #e1827c;
  border-bottom-width: 0;
  color: #1c3538;
  margin-top: 2.75px;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.kent-button:focus {
  color: #1c3538;
}
#work a {
  color: #fff;
}

.arrow {
  display: inline-block;
  background-color: #d0e2de;
  padding: 15px 24px;
  border-radius: 50px;
  border-bottom: 3px solid #a8c1bb;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  box-shadow: 0 2px 3px #ccc;
  position: relative;
  margin-bottom: .5rem;
}

.arrow:hover {
  background-color: #498e84;
  border-bottom-width: 0;
  margin-top: 3px;
}
a.arrow {
  color: #1c3538;
}
.link {
  color: #e1827c;
   
}
.link:hover {
  color: #f2ac94;
  text-decoration: underline;
}

@media screen and (min-width: 40em) {
  .kent-button {
    width: 40%;
  }
  }

  /* ---------------- SPACING AND ALIGNMENTS ------------------------------------- */

  .grid-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 92%;
  }
  #hero .grid-container {
    padding-bottom: 5rem;
    padding-top: 2rem;
  }

  #about .align-self-middle {
    padding: 0;
  }

.grid-container {
  width: 92%;
}

#studio {
  width: 300px;
}

  @media screen and (min-width: 40em) {
    #studio {
      width: 400px;
    }
  
    #hero {
      margin-bottom: 4rem;
    }
    #about {
      margin-top: 4rem;
    }
    .grid-container {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    #hero .grid-container {
  
    }


    #about .align-self-middle{
      padding: 1rem;
    }
    }

    @media screen and (min-width: 64em) {
      #about .align-self-middle{
        
      }
    }
    

     /* ---------------- FOOTER ------------------------------------- */
     
   footer {
      background-image: url(../img/bg-footer.png);
      background-position: bottom;
      background-repeat: no-repeat;
      position: relative;
      background-size: cover;
      padding-top: 2rem;
      padding-bottom: 2rem;
   }
   footer p {
     margin: 0;
   }

   footer .grid-container {
    padding-top: 6rem;
    padding-bottom: 2rem;
  }


  /* ----------------- ASPECT RATIOS ------------------------------------------- */

div[class*="ratio-"] {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.ratio-16x9 {
  padding: 56.25% 0 0 0;
}

.ratio-16x8 {
  padding: 50% 0 0 0;
}

.ratio-16x7 {
  padding: 43.75% 0 0 0;
}

.ratio-16x6 {
  padding: 37.5% 0 0 0;
}

.ratio-16x5 {
  padding: 31.25% 0 0 0;
}

.ratio-16x4 {
  padding: 25% 0 0 0;
}

.ratio-6x5 {
  padding: 83.33% 0 0 0;
}

.ratio-5x4 {
  padding: 80% 0 0 0;
}

.ratio-5x1 {
  padding: 20% 0 0 0;
}

.ratio-4x5 {
  padding: 120% 0 0 0;
}

.ratio-4x7 {
  padding: 160% 0 0 0;
}

.ratio-4x3 {
  padding: 75% 0 0 0;
}

.ratio-1x1 {
  padding: 100% 0 0 0;
}

div[class*="ratio-"] img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}
 /* ----------------- UTILITY CLASSES ------------------------------------------- */
 .img-rounded {
   border-radius: 4px;
 }
 .circle {
   border-radius: 400px;
   box-shadow: 0px 5px 4px #9b9b9b;
 }
 .sm-center {
   margin-right: auto!important;
    margin-left: auto!important;
   display: block!important;
 }
 .no-grid-padding {
   padding-top: 0;
   padding-bottom: 0;
 }
 .no-grid-padding-top {
   padding-top: 0;
 }
 .no-grid-padding-bottom {
   padding-bottom: 0;
 }
 .inherit {
   display: inherit;
 }
 .float-right-small {
   float: right;
 }
 .small-display-none {
   display: none;
 }
 .content-alignment {
   margin-left: 1px;
 }
 @media screen and (min-width: 40em) {
 .float-right-small {
   float:none;
 }
 .sm-center {
    margin-right: 0!important;
     margin-left: 0!important;
    display: inline-block!important;
  }
 }
 
  }